name: Deploy Main to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-deploy:
    name: Build and Deploy to GitHub Pages
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0
      - name: Use Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Build website
        env:
          BASE_URL: /nr-pies
        run: npm run build
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          folder: build
          branch: gh-pages
          clean-exclude: pr-preview/
          single-commit: true # Drop unnecessary commit history from gh-pages
          force: true # Set to false if we start losing PR deployment previews
